@charset "utf-8";
* { margin: 0;padding: 0; box-sizing: border-box;}
.container1 {
    display: flex;
    background: coral;
}
.container1 div {
    height: 100px;
    text-align: center;
    font-size: 2em;
    color: bisque;
    line-height: 100px;
}
.container1 div:nth-child(1) {background: #111;}
.container1 div:nth-child(2) {background: #333;}
.container1 div:nth-child(3) {background: #555;}
.container1 div:nth-child(4) {background: #888;}
.container1 div:nth-child(5) {background: #999;}

@media screen and (min-width: 768px) {
	.container1 {
		flex-flow: wrap row;
	}
	.container1 div {
		width: 50%;
	}
	.container1 div:nth-child(5) {
		width: 100%;
	}
}

@media screen and (min-width: 1024px) {
	.container1 {
		flex-wrap: nowrap;
	}
	.container1 div {
		height: 300px;
		line-height: 300px;
	}
	.container div:nth-child(5) {
		width: 50%;
	}
}

.container2 {
	display: flex; 
	/*flex container로 만들어줌 이요소의 자식요소들은 flex-item 이 된다. 
	flex-item은 주축에따라 결정되며 주축은 flex-direction으로 결정한다. 
	주축에따라 위에서 아래로, 아래서 위로, 수직 column, 수평(왼쪽에서오른쪽 기본 row)을 조절할 수있다.*/
	justify-content: space-around;
	/* 요소와 요소사이를 균등분배 center는 가운데로 정렬해줌 (justify는 수평 정렬을 지정한다.)*/
	align-items: center;
	/* 아이템의 수직정렬, 엔드는 수직에서의 끝(높이값의 제일 밑에다가 아이템들을 정렬한다. center는 아이템들을 가운데 수직정렬해준다. )*/
	height: 300px;
	background: cornflowerblue;
}
.container2 div {
	width: 100px; height: 100px;
	border: 1px dashed bisque;
	background: coral;
	color: bisque; font-size: 2em;
	line-height: 100px;
	text-align: center;
}
    /*align-content 란?
    align-item과 비슷하지만 자식 엘리먼트가 아닌 라인의 정렬을 지정함. flex의 자식 엘리먼트(아이템)가 두 줄 이상으로 존재하여야 작동한다.*/
    /*flex : 1 속성으로 자식 요소의 크기 확장
	flex item에 적용한 flex 속성은 flex item의 크기와 관련된 속성이며, 
	다음과 같이 flex-grow 속성과 flex-shrink 속성, flex-basis 속성을 축약한 표현이다.
    flex: 1 1 0 속성은 다음과 같은 flex-grow: 1 속성과 flex-shrink: 1 속성, flex-basis: 0 속성을 줄인 표현이다.

	flex-grow 속성은 flex item의 확장에 관련된 속성이다. 0과 양의 정수를 속성값에 사용한다.
	속성값이 0이면 flex container의 크기가 커져도 flex item의 크기가 커지지 않고 원래 크기로 유지된다.
	flex container의 크기가 커질 때 flex item의 크기도 커지게 하려면 1 이상의 값을 속성값으로 설정한다. 
	속성값이 1 이상이면 flex item의 원래 크기에 상관없이 flex container를 채우도록 flex item의 크기가 커진다.

	flex-shrink 속성은 flex item의 축소에 관련된 속성이다. 0과 양의 정수를 속성값에 사용한다. 기본값은 1이다.
	속성값이 0이면 flex container의 크기가 flex item의 크기보다 작아져도 flex item의 크기가 줄어들지 않고 원래 크기로 유지된다. 
	속성값이 1 이상이면 flex container의 크기가 flex item의 크기보다 작아질 때 flex item의 크기가 flex container의 크기에 맞추어 줄어든다.

    flex-basis 속성은 flex item의 기본 크기를 결정하는 속성이다. 기본값은 auto다.
    width 속성에서 사용하는 모든 단위(px, %, em, rem 등)를 속성값에 사용할 수 있다. flex-basis 속성의 값을 30px이나 30%와 같이 설정하면 flex item의 크기가 고정된다.*/