@charset "utf-8";
* {margin: 0; padding: 0;}
body {overflow-x: hidden;}
div {
    height: 100vh;
    background: linear-gradient(45deg, coral, cornflowerblue);
}
div span {
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; font-size: 14vw; font-weight: bold; text-transform: uppercase;
    transition: 0.3s;
}

@media screen and (max-width:767px){
    div {
        background: linear-gradient(-45deg,coral,cornflowerblue);
    }
    div span {
        transform: translate(-50%,-50%) rotate(270deg);
    }
}